<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vergilyn.examples.mybatis.usage.mapper.MybatisCountersMapper">

    <sql id="tableName">`mybatis_counters`</sql>

    <update id="incr">
        UPDATE <include refid="tableName"/>
            SET `counter` = `counter` + 1
        WHERE #{id}
    </update>

    <!-- SEE: http://www.sqlines.com/mysql/how-to/select-update-single-statement-race-condition
        error: multi-statement not allow！
    -->
    <select id="incrAvoidSecondSelect" resultType="Integer">
        UPDATE <include refid="tableName"/>
            SET `counter` = (@old_value := `counter`) + 1
        WHERE id = #{id};

        SELECT @old_value;
    </select>


</mapper>
